<!DOCTYPE html>
<html lang="cz">
<head>
	<meta http-equiv="Content-Type"  content="text/html", charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes" /> 
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="x-ua-compatible" content="ie=edge"> 
	<link rel="stylesheet" type="text/css" href="/static/style.css" rel=stylesheet>
	<link rel="stylesheet" type="text/css" href="/static/fa/css/all.css" rel=stylesheet>
	<link rel="icon" href="/static/img/favicon.ico">
	<title>Fengoo WATER GUARD | Nastavení připojení k WiFi</title>
</head>
<body>	
  <div class="login">
    <div id="app-loading">
      <div class="setup-form">
        <div class="setup-form-wrapper">
          <h1>Fengoo IoT senzor</h1>
          <h3 class="m-b-40" id="device-model">WATER GUARD</h3>
          <div class="common-page-header-header">Nastavení WiFi</div>
          <div class="dashboard-container-has-table-header">
            <div class="boostrap-table-component">
              <div class="react-bootstrap-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="3" style="">Dostupné sítě v okolí</th>
                    </tr>
                  </thead>
                  <tbody id="wifi-selector">
											{% for point in points %}
											<tr>
												<td>{{point.ssid}}</td>
												{% if point.encrypted == 'encrypted' %}
												<td width="35px" class="img-lock"></td>
												{% else %}
												<td width="35px" class=""></td>
												{% endif %}
												<td>
													<button type="button" class="btn btn-connect" value="{{ point.ssid_encoded }}">Zvolit</button>
												</td>
											</tr>
											{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
			<div class="box-info-block">Pokud je síť skryta nebo ji v seznamu nevidíte, můžete zadat její název sami.</div>
					<form id="wifiForm" action="connect" method="post">	
            <div class="form-group m-w-250">
              <input placeholder="Název WiFi sítě" type="text" class="form-control" name ="ssid" value="">
            </div>
            <div class="form-group m-w-250" id="password">
              <input placeholder="Heslo" type="text" class="form-control" name="password" value="">
            </div>
						<div class="form-group m-t-50">
							<button type="submit" class="react-boostrap-button-wrapper btn btn-primary btn-short" id="btn-wifi-save">
								<div class="">Připojit k síti</div>
							</button>
         		</div>
          </form>
          
					
					
					
					
					
          <div class="footer">Copyright © 2021 NetVoice s.r.o.</div>
        </div>
      </div>
    </div>
  </div>

	<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>


